@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Work Sans", sans-serif;
}
/* shared styles */
.display-flex{
    display: flex;
}
.btn-primary{
    background: rgb(255, 144, 14);
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    margin-top: 10px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}

/* header styles */
.bg-light{
    background: rgba(255, 144, 14, 0.1);
}

/* navbar styles */
.navbar{
   justify-content: space-between; 
   align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 2.5rem;
}
.nav-link{
    text-decoration: none;
    color: rgb(66, 66, 66);
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;    
}
.banner-title{
    font-weight: 700;
    font-size: 3rem;
}
.banner-image{
    width: 100%;
}
.team{
    align-items: center;
    margin-top: 100px;
}
#h-1{
    font-weight: 500;
    font-size: 2rem;
    color: rgb(114, 114, 114);
}
#h-2{
    font-weight: 700;
    font-size: 2rem;
    color: rgb(19, 19, 19);
}
#h-3{
    font-weight: 700;
    font-size: 2rem;
    color: rgb(255, 144, 14);
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.team-features{
    margin-left: 100px;
    max-width: 530px;
}
/* some facts style */
.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.fact-title{
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 100px;
}
.fact{
    border: 1px solid rgb(255, 144, 14);
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.fact-number{
    font-weight: 600;
    font-size: 2rem;
    margin-top: 3px;
    margin-bottom: 7px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
}
/* sponsors part design */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-title{
    font-size: 2.5rem;
    font-weight: 700;
}
.sponsor-company{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-company img{
    filter: grayscale(100%);
}
/* footer design */
footer{
    background: rgb(255, 244, 231);
}
.footer{
    height: 100px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    text-align: center;
}

@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links, 
    .team, 
    .footer {
        flex-direction: column;
    }
    .team-img-container, 
    .fact-container, 
    .sponsor-company{
        grid-template-columns: repeat(1, 1fr);
    }
    .fact-container, 
    .sponsor-company{
        justify-items: center;
    }
}
@media screen and (min-width: 576px) and (max-width: 990px){
    .team{
        flex-direction: column;
    }
    .fact-container{
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
    }
}